body {
  background-color: black;
  margin: 0;
}

.line {
  position: absolute;
  border: 1px solid white;
}

.width {
  top: 50%;
  width: 100vw;
  height: 0;
}

.height {
  left: 50%;
  height: 100vw;
  width: 0;
}

.target {
  position: absolute;
  transform: translate(-50%, -50%);
}

.tag {
  position: absolute;
  color: white;
  transform: translate(20px, 20px);
}
